automacoes-CDP/[SDR] Tool Agendar Reuniao - CDP.json
{
  "name": "[SDR] Tool Agendar Reuniao",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data_e_hora"
            },
            {
              "name": "whatsapp"
            },
            {
              "name": "email_closer"
            },
            {
              "name": "nome_closer"
            },
            {
              "name": "nome_lead"
            },
            {
              "name": "resumo"
            },
            {
              "name": "duracao_reuniao"
            },
            {
              "name": "empresa"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -336,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_7ddd6e69f8c191e8bd609b8d16f544703216a8ef77716d246d3dc8823ec08f69@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Reuniões com Closers"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json.data_e_hora }}",
        "end": "={{ $('When Executed by Another Workflow').item.json.data_e_hora.toDateTime().plus($('When Executed by Another Workflow').item.json.duracao_reuniao, 'minutes') }}",
        "additionalFields": {
          "attendees": [
            "={{ $('When Executed by Another Workflow').item.json.email_closer }}",
            "gerardo.m.magalhaes@gmail.com",
            "={{ $('Get a row').item.json.email ?? \"lead@lead.com\" }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "summary": "=Reunião com {{ $('When Executed by Another Workflow').item.json.nome_closer }} e {{ $('When Executed by Another Workflow').item.json.empresa ? $('When Executed by Another Workflow').item.json.empresa : $('When Executed by Another Workflow').item.json.nome_lead}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "71cb66c4-b3ae-4c4e-b7ce-cb05b4494644",
      "name": "Create an event",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6bA2n40mFWUPqQA7",
          "name": "Google Calendar - Operações"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.lead_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa_conversa",
              "fieldValue": "agendado"
            },
            {
              "fieldId": "data_agendamento",
              "fieldValue": "={{ $('Create an event').item.json.start.dateTime}}"
            },
            {
              "fieldId": "pipedrive_id2",
              "fieldValue": "={{ $('Duplica lead').item.json.id }}"
            },
            {
              "fieldId": "id_agendamento",
              "fieldValue": "={{ $('Create an event').item.json.id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "open"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2240,
        352
      ],
      "id": "022341bd-5e4d-43d3-be4b-715bf13b60bc",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "kRKH2lDi70K6YQIf",
          "name": "Supabase - Revenue"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH d AS (\n  SELECT cd.id, cd.person_id\n  FROM commercial_deals cd\n  JOIN persons pe ON pe.id = cd.person_id\n  WHERE pe.telephone = '{{ $('When Executed by Another Workflow').item.json.whatsapp }}'\n    AND cd.discarded_at IS NULL\n  ORDER BY cd.created_at DESC\n  LIMIT 1\n)\nUPDATE commercial_deals cd\nSET stage = 'agendado',\n    status = 'open',\n    scheduled_meeting_at = NULLIF('{{ $('Create an event').item.json.start.dateTime }}', '')::timestamptz,\n    pipedrive_deal_id = NULLIF(NULLIF('{{ $('Duplica lead').item.json.id }}', ''), 'undefined'),\n    custom_properties = COALESCE(cd.custom_properties, '{}'::jsonb) || jsonb_build_object(\n      'id_agendamento', NULLIF('{{ $('Create an event').item.json.id }}', ''),\n      'link_reuniao', '{{ $('Create an event').item.json.conferenceData.entryPoints[0].uri }}'\n    ),\n    updated_at = now()\nFROM d\nWHERE cd.id = d.id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        560
      ],
      "id": "cdp-pg-agend-0001-aaaa-bbbbbbbbbbbb",
      "name": "CDP - Update a row",
      "credentials": {
        "postgres": {
          "id": "dPKD2OwfrvkkDT2q",
          "name": "CDP - Postgres"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U05NBR6D2MV",
          "mode": "list",
          "cachedResultName": "alexandre.magno"
        },
        "text": "=## Erro ao espelhar lead no banco novo (CDP) — node *Update a row* (Agendar Reunião)\n\nWhatsapp: {{ $('When Executed by Another Workflow').item.json.whatsapp }}\nEmpresa: {{ $('When Executed by Another Workflow').item.json.empresa }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2420,
        720
      ],
      "id": "cdp-slk-agend-0002-aaaa-bbbbbbbbbbbb",
      "name": "Erro CDP - Update a row",
      "webhookId": "e71655c6-2f72-400e-b596-20fa708e8560",
      "credentials": {
        "slackApi": {
          "id": "SsQksTzv99K5SqDV",
          "name": "Slack Doguinho Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd95d8bc-8e11-469c-ba2d-2c2fb017efbb",
              "name": "resposta",
              "value": "Reunião agendada com sucesso!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        352
      ],
      "id": "c0238eee-f2d1-40ea-ae85-7cf7c6699009",
      "name": "Mensagem de sucesso"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd95d8bc-8e11-469c-ba2d-2c2fb017efbb",
              "name": "resposta",
              "value": "Erro ao agendar reunião",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        752
      ],
      "id": "591f3d67-6e44-4c34-8f1d-e3f8c4e90c3d",
      "name": "Mensagem de erro"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.whatsapp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        48,
        352
      ],
      "id": "0bc6e0d7-adb5-4afc-afd1-b2b466b1ea09",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kRKH2lDi70K6YQIf",
          "name": "Supabase - Revenue"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Get a row').item.json.empresa ? $('Get a row').item.json.empresa : $('Get a row').item.json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "ba280a0b1ae6e6168c3e25e28460b8a02089b0be",
                "value": "={{ $('Get a row').item.json.segmento }}"
              },
              {
                "name": "921ee7657991cd504cd859f5b8fd0b47bb8b2ff6",
                "value": "={{ $('Get a row').item.json.fbclid }}"
              },
              {
                "name": "babc9dc70b0254caf284ed9ac6904531bdd2247b",
                "value": "={{ $('Get a row').item.json.utm_source }}"
              },
              {
                "name": "fbef9289bf09467ab894d55a0da0785f7d131c92",
                "value": "={{ $('Get a row').item.json.utm_medium }}"
              },
              {
                "name": "1c61ffb7c5c72afcda0aa03ec34a699098fa82a3",
                "value": "={{ $('Get a row').item.json.utm_campaign }}"
              },
              {
                "name": "ce55f714284ac86b8463c672880636db6568e5f8",
                "value": "={{ $('Get a row').item.json.utm_content }}"
              },
              {
                "name": "346353ade45adcb68850667587de1da11b3bdadd",
                "value": "={{ $('Get a row').item.json.tier }}"
              },
              {
                "name": "7b6faf899b290bfa7ba1da3fe2ac1bbe6ef118be",
                "value": "={{ $('Get a row').item.json.faturamento }}"
              },
              {
                "name": "a75682beeaee346f25771516d2f23cdaf4b7745c",
                "value": "={{ $('Get a row').item.json.gclid }}"
              },
              {
                "name": "6eac4a1164e70734e1a77a691a857bffa84bb9a1",
                "value": "Sim"
              }
            ]
          },
          "stage_id": 43,
          "status": "open",
          "user_id": "={{ $('Get user pipedrive').item.json.data[0].id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1808,
        960
      ],
      "id": "50732a88-e7d2-458b-b170-62f5ca750707",
      "name": "Create a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "activity",
        "subject": "=Reunião com {{ $('Get a row').item.json.empresa ? $('Get a row').item.json.empresa : $('Get a row').item.json.name }}",
        "type": "Reunião",
        "additionalFields": {
          "deal_id": "={{ $('Duplica lead').item.json.id }}",
          "due_date": "={{ $('Create an event').item.json.start.dateTime.toDateTime().format('yyyy-MM-dd') }}",
          "customProperties": {
            "property": [
              {
                "name": "due_time",
                "value": "={{ $('Create an event').item.json.start.dateTime.toDateTime().plus(3, 'hour').format('HH:mm') }}"
              },
              {
                "name": "note",
                "value": "=*LINK DA REUNIÃO*: {{ $('Create an event').item.json.conferenceData.entryPoints[0].uri }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2048,
        352
      ],
      "id": "abd02d57-3f08-4900-b433-ce531603881a",
      "name": "Create an activity",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        864,
        -960
      ],
      "id": "330f217d-1f35-4510-9a68-656460c63308",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DzFqCj1kEJGFCIRb",
          "mode": "list",
          "cachedResultUrl": "/workflow/DzFqCj1kEJGFCIRb",
          "cachedResultName": "[REVOPS] Credenciais"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -144,
        352
      ],
      "id": "243d0302-437d-459b-8533-24775a52104b",
      "name": "Call '[REVOPS] Credenciais'"
    },
    {
      "parameters": {
        "url": "https://cardapioweb.pipedrive.com/api/v1/users/find",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search_by_email",
              "value": "1"
            },
            {
              "name": "term",
              "value": "={{ $('When Executed by Another Workflow').item.json.email_closer }}"
            },
            {
              "name": "=api_token",
              "value": "={{ $('Call \\'[REVOPS] Credenciais\\'').item.json.token_pipedrive }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        352
      ],
      "id": "89af3012-efdf-4692-b053-84e9f9dcf818",
      "name": "Get user pipedrive"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c_7ddd6e69f8c191e8bd609b8d16f544703216a8ef77716d246d3dc8823ec08f69@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Reuniões com Closers"
        },
        "eventId": "vfo4csopabl9pv4o8nhc61phu0",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1120,
        -1296
      ],
      "id": "f424c702-8afa-459e-b209-de920f6d856c",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6bA2n40mFWUPqQA7",
          "name": "Google Calendar - Operações"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "dealId": 430770
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1120,
        -1136
      ],
      "id": "2b1d4d38-4d72-4d47-a76d-b5b765726837",
      "name": "Delete a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "get"
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1392,
        -1120
      ],
      "id": "27b15577-3443-433c-b7e7-ce074e772a67",
      "name": "Get a person",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFAM3R3EU",
          "mode": "list",
          "cachedResultName": "acompanhamento_ia"
        },
        "text": "=*Agendado feito 100% pela Clara*\nLead: {{ $('Get a row').item.json.empresa ? $('Get a row').item.json.empresa : $('Get a row').item.json.name }}\nData: {{ $('When Executed by Another Workflow').item.json.data_e_hora.toDateTime().format('dd/MM HH:mm') }}\nCloser: {{ $('When Executed by Another Workflow').item.json.nome_closer }}\nLink do Pipe: https://cardapioweb.pipedrive.com/deal/{{ $('Duplica lead').item.json.id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2432,
        352
      ],
      "id": "8f015d34-de5a-4d34-b675-555fc06cf1eb",
      "name": "Send a message",
      "webhookId": "894d88dc-cf29-4b60-8a2f-3c45ec018f17",
      "credentials": {
        "slackApi": {
          "id": "SsQksTzv99K5SqDV",
          "name": "Slack Doguinho Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $('When Executed by Another Workflow').item.json.resumo }}\n\nVisualizar conversa completa: https://gerardo-magalhaescw.github.io/cw_clara_ia/?lead_id={{ $('Get a row').item.json.lead_id }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1248,
        352
      ],
      "id": "955264d4-8f8e-4dad-b580-3cd7b24fb18f",
      "name": "Create a note1",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      }
    },
    {
      "parameters": {
        "url": "https://cardapioweb.pipedrive.com/activityFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "x-api-token",
              "value": "b3f0e4930cd82dd921597c19d422a495833201a4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -960
      ],
      "id": "8806a2f5-18a3-4c38-955c-4c59f5bcba68",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "activity",
        "subject": "teste 2",
        "type": "Reunião",
        "additionalFields": {
          "deal_id": 430286,
          "due_date": "=2026-03-18",
          "customProperties": {
            "property": [
              {
                "name": "due_time",
                "value": "19:00"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1280,
        -960
      ],
      "id": "b57afec6-0388-4de9-8b7a-409e17cb870a",
      "name": "Create an activity1",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "L5UlPvRjDTzH9fsS",
          "mode": "list",
          "cachedResultName": "[CLO] DE-PARA Closers",
          "cachedResultUrl": "/projects/ELoknvJCeEVMoIH5/datatables/L5UlPvRjDTzH9fsS"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.email_closer }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2608,
        352
      ],
      "id": "13a30d1e-dbb3-4b42-9d75-1850f33413b9",
      "name": "Get row(s)",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $('Get a row').item.json.pipedrive_id }}",
        "updateFields": {
          "stage_id": "={{ 365 }}",
          "status": "won"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1072,
        352
      ],
      "id": "ae55f168-cbd9-4371-a654-0d147fc40f86",
      "name": "Ganho no pipe SDR",
      "retryOnFail": true,
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "duplicate",
        "dealId": "={{ $('Get a row').item.json.pipedrive_id }}"
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1424,
        352
      ],
      "id": "bfc42de9-6d22-493c-be55-7164250922dd",
      "name": "Duplica lead",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.id }}",
        "updateFields": {
          "customProperties": {
            "property": [
              {
                "name": "9417f9f1d36e3879e2e64c026978b77655125548",
                "value": "={{ $('Ganho no pipe SDR').item.json.id }}"
              },
              {
                "name": "ad089f59ba3d0ec818f2b83fc9b6265029ef3a17",
                "value": "={{ $('Get a row').item.json.email }}"
              },
              {
                "name": "ce39d035fad6c74095053ffe04bdb9bbc9ae2a53",
                "value": "Clara IA"
              },
              {
                "name": "026f2795fcadf5a55be74b51d2c3ae013f8955f3",
                "value": "={{ $('Information Extractor').item.json.output.temperatura }}"
              }
            ]
          },
          "user_id": "={{ $('Get user pipedrive').item.json.data[0].id }}",
          "stage_id": 43,
          "status": "open"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1632,
        352
      ],
      "id": "b8194837-bcf9-4779-a127-57ec928f9937",
      "name": "Envia lead p/ pipe de Closer",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $('When Executed by Another Workflow').item.json.resumo }}\n\nVisualizar conversa completa: https://gerardo-magalhaescw.github.io/cw_clara_ia/?lead_id={{ $('Get a row').item.json.lead_id }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1840,
        352
      ],
      "id": "de07362d-435e-4ea8-9edb-1d59b8c3c3ff",
      "name": "Create a note",
      "credentials": {
        "pipedriveApi": {
          "id": "H9PcNTD5kU5NLzRH",
          "name": "Pipedrive - Comercial"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFAM3R3EU",
          "mode": "list",
          "cachedResultName": "acompanhamento_ia"
        },
        "text": "=*Lead está tendo dificuldade para agendar*\nLead: {{ $('When Executed by Another Workflow').item.json.nome_lead }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        480,
        912
      ],
      "id": "32081c0b-8f62-42c1-b66b-79cb191f33f2",
      "name": "Send a message2",
      "webhookId": "894d88dc-cf29-4b60-8a2f-3c45ec018f17",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "SsQksTzv99K5SqDV",
          "name": "Slack Doguinho Bot"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Erro"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        656,
        912
      ],
      "id": "30b4a679-6fae-42ce-b78e-24427fa3bd78",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "text": "={{ $('When Executed by Another Workflow').item.json.resumo }}",
        "attributes": {
          "attributes": [
            {
              "name": "temperatura",
              "description": "Retire a informação do resumo que refere-se a Temperatura. A únicas saída possíveis são: 'Hot', 'Warm' e 'Cold'"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        608,
        352
      ],
      "id": "ce65b22e-9b0c-4e78-b45c-e5e57130cf8d",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-nano",
          "mode": "list",
          "cachedResultName": "gpt-5.4-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        608,
        528
      ],
      "id": "e8ddc55e-144b-4431-acb0-f71ddc87cb34",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z5sdMKuz4ev8Qulo",
          "name": "OpenAi - Token de uso geral no n8n"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.user_slack }}",
          "mode": "username"
        },
        "text": "=*Reunião Agendada*\nLead: {{ $('Get a row').item.json.empresa ? $('Get a row').item.json.empresa : $('Get a row').item.json.name }}\nData: {{ $('When Executed by Another Workflow').item.json.data_e_hora.toDateTime().format('dd/MM HH:mm') }}\nCloser: {{ $('When Executed by Another Workflow').item.json.nome_closer }}\nLink do Pipe: https://cardapioweb.pipedrive.com/deal/{{ $('Duplica lead').item.json.id }}\nLink da Reunião: {{ $('Create an event').item.json.conferenceData.entryPoints[0].uri }}\n*Favor verificar Agenda e Pipedrive para confirmar se está devidamente criado.*",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2800,
        352
      ],
      "id": "69438706-e35e-49bd-86bc-6f300bc35cd8",
      "name": "Notificar closer",
      "webhookId": "894d88dc-cf29-4b60-8a2f-3c45ec018f17",
      "credentials": {
        "slackApi": {
          "id": "SsQksTzv99K5SqDV",
          "name": "Slack Doguinho Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6962dc26-9cca-4ebc-a0e8-f9f845519f45",
              "leftValue": "={{ $json.pipedrive_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f54ea568-281d-46c1-ae7d-c8f1d785dd9f",
              "leftValue": "={{ $json.pipedrive_id }}",
              "rightValue": "000",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        352
      ],
      "id": "aeb4bedd-d7e3-40c7-a1db-b2adf294f172",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RvvKePWCGrCxHMuM",
          "mode": "list",
          "cachedResultUrl": "/workflow/RvvKePWCGrCxHMuM",
          "cachedResultName": "[SDR] Mensagem de apresentação do closer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "kommo_id": "={{ $('Get a row').item.json.kommo_id }}",
            "closer_email": "={{ $('Get a row').item.json.closer_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "kommo_id",
              "displayName": "kommo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "closer_email",
              "displayName": "closer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3008,
        352
      ],
      "id": "f430e19e-c219-46c7-bd47-c0495d5316e9",
      "name": "Enviar mensagem do closer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6962dc26-9cca-4ebc-a0e8-f9f845519f45",
              "leftValue": "={{ $json.pipedrive_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f54ea568-281d-46c1-ae7d-c8f1d785dd9f",
              "leftValue": "={{ $json.pipedrive_id }}",
              "rightValue": "000",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        816
      ],
      "id": "a13e6c3a-3fd4-4f31-a286-75efd7cc6563",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "L1IPQzEV6rk9IovV",
          "mode": "list",
          "cachedResultUrl": "/workflow/L1IPQzEV6rk9IovV",
          "cachedResultName": "[SDR] Verificação e criação de lead no Pipedrive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp": "={{ $('Get a row').item.json.whatsapp }}",
            "email": "={{ $('Get a row').item.json.email }}"
          },
          "matchingColumns": [
            "whatsapp",
            "email"
          ],
          "schema": [
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        496,
        704
      ],
      "name": "Call [SDR] Verificação e criação de lead no Pipedrive",
      "id": "79d1997e-8659-4258-bd53-78af7d7ec5ce"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e31a9ad-3bbe-4b2d-a060-0bd529603786",
              "leftValue": "={{ $json.pipedrive_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        704
      ],
      "id": "52fd6d30-4b8a-46dd-be89-57324185f236",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        944
      ],
      "id": "3cc50287-df19-47a1-8533-d99e0c0eb0a4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=luan.nicolas@cardapioweb.com",
          "mode": "id"
        },
        "limit": 2,
        "timeMin": "=2026-04-29T11:00:00.000-03:00",
        "timeMax": "=2026-04-29T11:30:00.000-03:00",
        "options": {
          "fields": "items(summary, created)"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        800,
        -1280
      ],
      "id": "2d780d0c-1f99-45b3-846d-8980604ed621",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6bA2n40mFWUPqQA7",
          "name": "Google Calendar - Operações"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "data_e_hora": "2026-06-11T15:45:00.000-03:00",
          "whatsapp": "5511994127839",
          "email_closer": "rebeca.garcez@cardapioweb.com",
          "nome_closer": "Rebeca Cabral",
          "nome_lead": "Roseli",
          "resumo": "- Origem(Onde nos conheceu):\n- Dor principal: quer mais agilidade e parar de fazer tudo manualmente\n- Solução atual: operação manual\n- Plano indicado (Plano Meses, Delivery ou Premium): Delivery\n- Budget (cabe/não cabe + observação breve): cabe — R$179,99/mês no anual aprovado\n- Authority (O lead é decisor?): compartilhada com o marido, que participará da reunião\n- Timing (Quando planeja contratar): imediato\n- Temperatura(Hot, Warm ou Cold) : Hot\n- Observações relevantes (Até 150 caracteres): Empresa Rosesabores, segmento marmitaria, estruturando operação com foco em delivery.",
          "duracao_reuniao": 45,
          "empresa": "Rosesabores"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Call '[REVOPS] Credenciais'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "CDP - Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CDP - Update a row": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro CDP - Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro CDP - Update a row": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a deal": {
      "main": [
        []
      ]
    },
    "Create an activity": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[REVOPS] Credenciais'": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user pipedrive": {
      "main": [
        [
          {
            "node": "Ganho no pipe SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create an activity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Notificar closer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note1": {
      "main": [
        [
          {
            "node": "Duplica lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ganho no pipe SDR": {
      "main": [
        [
          {
            "node": "Create a note1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplica lead": {
      "main": [
        [
          {
            "node": "Envia lead p/ pipe de Closer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note": {
      "main": [
        [
          {
            "node": "Create an activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia lead p/ pipe de Closer": {
      "main": [
        [
          {
            "node": "Create a note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Get user pipedrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar closer": {
      "main": [
        [
          {
            "node": "Enviar mensagem do closer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem do closer": {
      "main": [
        [
          {
            "node": "Mensagem de sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call [SDR] Verificação e criação de lead no Pipedrive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call [SDR] Verificação e criação de lead no Pipedrive": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "3Q2DsZIHbnUHLchf",
    "binaryMode": "separate"
  },
  "versionId": "0e189d0a-4d96-4c29-9564-fdae5370503d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0293ff1ff011ce8ea41e9d040273ebd6f5e9c120990cafd13007cb78e66df92b"
  },
  "id": "amiFfkwYKu86Wo0C",
  "tags": [
    {
      "updatedAt": "2026-01-28T13:06:04.030Z",
      "createdAt": "2026-01-28T13:06:04.030Z",
      "id": "S9pHNUEkQXTRXQgw",
      "name": "agente_ia"
    }
  ]
}